<launch>
  <arg name="scene" default="Building" doc="Spiral, Building, or Plaza" />
  <arg name="wait_timeout" default="300.0" />

  <node pkg="pct_planner" type="pct_planner_node.py"
        name="pct_planner" output="screen"
        args="--scene $(arg scene) --wait-timeout $(arg wait_timeout)">
    <env name="LD_LIBRARY_PATH"
         value="$(find pct_planner)/planner/lib/build/src/a_star:$(find pct_planner)/planner/lib/build/src/map_manager:$(find pct_planner)/planner/lib/build/src/trajectory_optimization:$(find pct_planner)/planner/lib/build/src/ele_planner:$(find pct_planner)/planner/lib/build/src/common/smoothing:$(find pct_planner)/planner/lib/3rdparty/gtsam-4.1.1/install/lib:$(optenv LD_LIBRARY_PATH)" />
  </node>
</launch>
